In [1]:
import numpy as np
import pandas as pd
import warnings as warn
warn.filterwarnings('ignore')

In [2]:
df=pd.read_excel(r"C:\Users\ykmi1\Downloads\Campaign data.xlsx",sheet_name=0)#import excel data sheetn_page=1 by using raw data method

In [3]:
df1=pd.read_excel(r"C:\Users\ykmi1\Downloads\Campaign data.xlsx",sheet_name=1)#import excel data sheetn_page=2 by using raw data method

In [4]:
merged_single_data=pd.merge(df,df1,how='outer')#mergeing df and df1 excel data together in one name merged_single_data

In [5]:
merged_single_data

,Date,Data source,Campaign,Media Type,City,Metric,Value,Message type,Model
0,2020-10-01,Snapchat,Altima campaign 1,Online Video,Austin,Impressions,5947.00,Future Market,Altima
1,2020-10-01,Snapchat,Altima campaign 1,Online Video,Austin,Media Cost,67.12,Future Market,Altima
2,2020-10-01,Snapchat,Altima campaign 1,Online Video,Austin,Clicks,21.00,Future Market,Altima
3,2020-10-01,Snapchat,Altima campaign 1,Online Video,San Antonio,Impressions,5295.00,Future Market,Altima
4,2020-10-01,Snapchat,Altima campaign 1,Online Video,San Antonio,Media Cost,58.40,Future Market,Altima
...,...,...,...,...,...,...,...,...,...
123694,2021-09-27,Pinterest,shop at home,Display,Miami-Ft. Lauderdale,Media Cost,0.00,Future Market,Multi-Model
123695,2021-09-27,Pinterest,shop at home,Display,Miami-Ft. Lauderdale,Clicks,0.00,Future Market,Multi-Model
123696,2021-09-27,Pinterest,shop at home,Display,Harlingen-Wslco-Brnsvl-Mca,Impressions,2.00,Future Market,Multi-Model
123697,2021-09-27,Pinterest,shop at home,Display,Harlingen-Wslco-Brnsvl-Mca,Media Cost,0.00,Future Market,Multi-Model
123698,2021-09-27,Pinterest,shop at home,Display,Harlingen-Wslco-Brnsvl-Mca,Clicks,0.00,Future Market,Multi-Model

In [6]:
merged_single_data.drop_duplicates(merged_single_data[merged_single_data.duplicated()],inplace=True)# to delete the duliplicate data from merged data set

In [7]:
merged_single_data#merged dataset

,Date,Data source,Campaign,Media Type,City,Metric,Value,Message type,Model
0,2020-10-01,Snapchat,Altima campaign 1,Online Video,Austin,Impressions,5947.00,Future Market,Altima
1,2020-10-01,Snapchat,Altima campaign 1,Online Video,Austin,Media Cost,67.12,Future Market,Altima
2,2020-10-01,Snapchat,Altima campaign 1,Online Video,Austin,Clicks,21.00,Future Market,Altima
3,2020-10-01,Snapchat,Altima campaign 1,Online Video,San Antonio,Impressions,5295.00,Future Market,Altima
4,2020-10-01,Snapchat,Altima campaign 1,Online Video,San Antonio,Media Cost,58.40,Future Market,Altima
...,...,...,...,...,...,...,...,...,...
123679,2021-09-27,Pinterest,shop at home,Display,Greenville-N.Bern-Washngtn,Media Cost,0.00,Future Market,Multi-Model
123680,2021-09-27,Pinterest,shop at home,Display,Greenville-N.Bern-Washngtn,Clicks,0.00,Future Market,Multi-Model
123684,2021-09-27,Pinterest,shop at home,Display,Harlingen-Wslco-Brnsvl-Mca,Impressions,2.00,Future Market,Multi-Model
123685,2021-09-27,Pinterest,shop at home,Display,Harlingen-Wslco-Brnsvl-Mca,Media Cost,0.00,Future Market,Multi-Model
123686,2021-09-27,Pinterest,shop at home,Display,Harlingen-Wslco-Brnsvl-Mca,Clicks,0.00,Future Market,Multi-Model

In [8]:
dataset_columns_names=merged_single_data.columns

In [9]:
for values in dataset_columns_names:
    #print(i)
    print(f"--------------------------------------------//{ values }\\\---------------------------------------------------")
    data_set_values_counts=merged_single_data[values].value_counts().sort_values(ascending=False)
    print(data_set_values_counts)
    print("-----------------------------------------------------------------------------------------------------------")

--------------------------------------------//Date\\---------------------------------------------------
Date
2021-09-27    3813
2020-10-26    3075
2020-10-19    3036
2020-10-12    2952
2021-09-20    2537
              ...
2020-01-06      24
2019-12-30      21
2020-01-27      21
2020-01-20      12
2020-01-13      12
Name: count, Length: 332, dtype: int64
-----------------------------------------------------------------------------------------------------------
--------------------------------------------//Data source\\---------------------------------------------------
Data source
Pinterest    65875
Snapchat     56754
Name: count, dtype: int64
-----------------------------------------------------------------------------------------------------------
--------------------------------------------//Campaign\\---------------------------------------------------
Campaign
Armada campaign 2        13392
Rogue campaign 4          6030
Pathfinder campaign 2     5670
Altima campaign 3         5484
Armada campaign 4         5400
Rogue campaign 2          4923
Rogue campaign 5          4560
Pathfinder campaign 7     4332
Pathfinder campaign 8     4302
Pathfinder campaign 6     4254
Pathfinder campaign 5     4254
Sentra campaign 3         4209
Kicks campaign 4          4185
Sentra campaign 1         3954
Kicks campaign 3          3885
Altima campaign 2         3840
Rogue campaign 1          3000
Altima campaign 8         2991
Armada campaign 3         2526
Pathfinder campaign 1     2520
Kicks campaign 6          2511
Altima campaign 5         2508
Altima campaign 1         2454
Altima campaign 7         2436
shop at home              2146
Kicks campaign 5          2118
Rogue pre launch          1944
Pathfinder campaign 4     1890
Pathfinder campaign 3     1440
Rogue campaign 3          1386
Altima campaign 4          996
Altima campaign 6          909
Kicks campaign 1           828
Kicks campaign 2           771
Armada campaign 1          708
Sentra campaign 4          456
Sentra campaign 2          429
Sentra campaign 14         177
Sentra campaign 11         177
Sentra campaign 17         174
Sentra campaign 7          171
Sentra campaign 20         168
Sentra campaign 22         165
Sentra campaign 15         165
Sentra campaign 18         159
Sentra campaign 21         159
Sentra campaign 9          156
Sentra campaign 19         153
Sentra campaign 12         150
Sentra campaign 13         138
Sentra campaign 23         138
Sentra campaign 6          132
Sentra campaign 24         132
Sentra campaign 8          126
Sentra campaign 16         114
Sentra campaign 5           99
Sentra campaign 25          78
Sentra campaign 10          57
Name: count, dtype: int64
-----------------------------------------------------------------------------------------------------------
--------------------------------------------//Media Type\\---------------------------------------------------
Media Type
Online Video    99363
Display         23266
Name: count, dtype: int64
-----------------------------------------------------------------------------------------------------------
--------------------------------------------//City\\---------------------------------------------------
City
New York                                 3483
Los Angeles                              3279
Atlanta                                  3165
Chicago                                  3117
Houston                                  3027
                                         ...
Waco - Temple - Bryan                       3
Providence - New Bedford                    3
Green Bay - Appleton                        3
Paducah - Cape Girardeau - Harrisburg       3
Albany                                      3
Name: count, Length: 263, dtype: int64
-----------------------------------------------------------------------------------------------------------
--------------------------------------------//Metric\\---------------------------------------------------
Metric
Impressions    40899
Media Cost     40867
Clicks         40863
Name: count, dtype: int64
-----------------------------------------------------------------------------------------------------------
--------------------------------------------//Value\\---------------------------------------------------
Value
0.00        17080
1.00         3437
2.00         2449
3.00         1718
4.00         1406
            ...
21320.00        1
312.54          1
5942.00         1
59779.00        1
4145.00         1
Name: count, Length: 43408, dtype: int64
-----------------------------------------------------------------------------------------------------------
--------------------------------------------//Message type\\---------------------------------------------------
Message type
Future Market    61927
Near Market      60702
Name: count, dtype: int64
-----------------------------------------------------------------------------------------------------------
--------------------------------------------//Model\\---------------------------------------------------
Model
Pathfinder     28662
Armada         22026
Rogue          21843
Altima         21618
Kicks          14298
Sentra         12036
Multi-Model     2146
Name: count, dtype: int64
-----------------------------------------------------------------------------------------------------------

In [10]:
merged_single_data.describe(include='all')

,Date,Data source,Campaign,Media Type,City,Metric,Value,Message type,Model
count,122629,122629,122629,122629,122629,122629,1.226290e+05,122629,122629
unique,NaN,2,58,2,263,3,NaN,2,7
top,NaN,Pinterest,Armada campaign 2,Online Video,New York,Impressions,NaN,Future Market,Pathfinder
freq,NaN,65875,13392,99363,3483,40899,NaN,61927,28662
mean,2021-02-09 02:36:48.749969664,NaN,NaN,NaN,NaN,NaN,6.999154e+03,NaN,NaN
min,2019-12-30 00:00:00,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN
25%,2020-10-21 00:00:00,NaN,NaN,NaN,NaN,NaN,6.340000e+00,NaN,NaN
50%,2021-01-30 00:00:00,NaN,NaN,NaN,NaN,NaN,7.600000e+01,NaN,NaN
75%,2021-08-05 00:00:00,NaN,NaN,NaN,NaN,NaN,1.156000e+03,NaN,NaN
max,2021-09-30 00:00:00,NaN,NaN,NaN,NaN,NaN,1.627800e+06,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,3.411575e+04,NaN,NaN

In [11]:
merged_single_data.isnull().sum()#how many null are presented in dataet

Date            0
Data source     0
Campaign        0
Media Type      0
City            0
Metric          0
Value           0
Message type    0
Model           0
dtype: int64

In [12]:
for values in dataset_columns_names:
    #print(i)
    print(f"--------------------------------------------//{ values }\\\---------------------------------------------------")
    data_set_values = merged_single_data[values].unique()#checking unique values in given dataset
    print(data_set_values)
    print(f"--------------------------------------------//{ values } counts\\\---------------------------------------------------")
    data_set_values_countss = merged_single_data[values].nunique()#checking unique values counts in given dataset
    print(data_set_values_countss)
    print("-----------------------------------------------///END\\\\--------------------------------------------------------")

--------------------------------------------//Date\\---------------------------------------------------
<DatetimeArray>
['2020-10-01 00:00:00', '2020-10-02 00:00:00', '2020-10-03 00:00:00',
 '2020-10-04 00:00:00', '2020-10-05 00:00:00', '2020-10-06 00:00:00',
 '2020-10-07 00:00:00', '2020-10-08 00:00:00', '2020-10-09 00:00:00',
 '2020-10-10 00:00:00',
 ...
 '2020-08-12 00:00:00', '2020-08-13 00:00:00', '2020-08-14 00:00:00',
 '2020-08-15 00:00:00', '2020-08-16 00:00:00', '2020-03-12 00:00:00',
 '2020-03-13 00:00:00', '2020-03-14 00:00:00', '2020-03-15 00:00:00',
 '2020-03-17 00:00:00']
Length: 332, dtype: datetime64[ns]
--------------------------------------------//Date counts\\---------------------------------------------------
332
-----------------------------------------------///END\\--------------------------------------------------------
--------------------------------------------//Data source\\---------------------------------------------------
['Snapchat' 'Pinterest']
--------------------------------------------//Data source counts\\---------------------------------------------------
2
-----------------------------------------------///END\\--------------------------------------------------------
--------------------------------------------//Campaign\\---------------------------------------------------
['Altima campaign 1' 'Altima campaign 2' 'Altima campaign 3'
 'Altima campaign 4' 'Altima campaign 5' 'Altima campaign 6'
 'Altima campaign 7' 'Altima campaign 8' 'Armada campaign 1'
 'Armada campaign 2' 'Armada campaign 3' 'Armada campaign 4'
 'Kicks campaign 1' 'Kicks campaign 2' 'Kicks campaign 3'
 'Kicks campaign 4' 'Kicks campaign 5' 'Kicks campaign 6'
 'Pathfinder campaign 1' 'Pathfinder campaign 2' 'Pathfinder campaign 3'
 'Pathfinder campaign 4' 'Pathfinder campaign 5' 'Pathfinder campaign 6'
 'Pathfinder campaign 7' 'Pathfinder campaign 8' 'Rogue campaign 1'
 'Rogue campaign 2' 'Rogue campaign 3' 'Rogue campaign 4'
 'Rogue campaign 5' 'Rogue pre launch' 'Sentra campaign 1'
 'Sentra campaign 10' 'Sentra campaign 11' 'Sentra campaign 12'
 'Sentra campaign 13' 'Sentra campaign 14' 'Sentra campaign 15'
 'Sentra campaign 16' 'Sentra campaign 17' 'Sentra campaign 18'
 'Sentra campaign 19' 'Sentra campaign 2' 'Sentra campaign 20'
 'Sentra campaign 21' 'Sentra campaign 22' 'Sentra campaign 23'
 'Sentra campaign 24' 'Sentra campaign 25' 'Sentra campaign 3'
 'Sentra campaign 4' 'Sentra campaign 5' 'Sentra campaign 6'
 'Sentra campaign 7' 'Sentra campaign 8' 'Sentra campaign 9'
 'shop at home']
--------------------------------------------//Campaign counts\\---------------------------------------------------
58
-----------------------------------------------///END\\--------------------------------------------------------
--------------------------------------------//Media Type\\---------------------------------------------------
['Online Video' 'Display']
--------------------------------------------//Media Type counts\\---------------------------------------------------
2
-----------------------------------------------///END\\--------------------------------------------------------
--------------------------------------------//City\\---------------------------------------------------
['Austin' 'San Antonio' 'Washington' 'Charlotte' 'New York' 'Philadelphia'
 'Detroit' 'Boston (manchester)' 'Atlanta'
 'Orlando - Daytona Beach - Melbourne' 'Denver' 'Phoenix (prescott)'
 'Salt Lake City' 'Chicago' 'Los Angeles'
 'San Francisco - Oakland - San Jose' 'Minneapolis - St. Paul' 'Houston'
 'Seattle - Tacoma' 'Sacramento - Stockton - Modesto' 'Dallas - Ft. Worth'
 'Cleveland - Akron (canton)' 'Nashville' 'Portland'
 'Miami - Ft. Lauderdale' 'Tampa - St. Petersburg (sarasota)' 'Baltimore'
 'St. Louis' 'Indianapolis' 'Pittsburgh' 'Milwaukee' 'Kansas City'
 'San Diego' 'Las Vegas' 'Portland-Auburn' 'Binghamton' 'Macon'
 'Boston (Manchester)' 'Savannah' 'Ft. Wayne' 'Cleveland-Akron (Canton)'
 'Washington, DC (Hagrstwn)' 'Flint-Saginaw-Bay City' 'Buffalo'
 'Cincinnati' 'Erie' 'Greensboro-H.Point-W.Salem' 'Charleston, SC'
 'Augusta-Aiken' 'Providence-New Bedford' 'Columbus, GA (Opelika, AL)'
 'Burlington-Plattsburgh' 'Albany, GA' 'Utica' 'Miami-Ft. Lauderdale'
 'Louisville' 'Tallahassee-Thomasville' 'Tri-Cities, TN-VA'
 'Albany-Schenectady-Troy' 'Hartford & New Haven'
 'Orlando-Daytona Bch-Melbrn' 'Columbus, OH' 'Youngstown' 'Bangor'
 'Rochester, NY' 'Tampa-St. Pete (Sarasota)' 'Traverse City-Cadillac'
 'Lexington' 'Dayton' 'Springfield-Holyoke' 'Norfolk-Portsmth-Newpt Nws'
 'Greenville-N.Bern-Washngtn' 'Columbia, SC' 'Toledo'
 'West Palm Beach-Ft. Pierce' 'Watertown' 'Wilmington' 'Lansing'
 'Presque Isle' 'Marquette' 'Wheeling-Steubenville' 'Syracuse'
 'Richmond-Petersburg' 'Knoxville' 'Lima' 'Bluefield-Beckley-Oak Hill'
 'Raleigh-Durham (Fayetvlle)' 'Jacksonville' 'Grand Rapids-Kalmzoo-B.Crk'
 'Charleston-Huntington' 'Elmira (Corning)' 'Harrisburg-Lncstr-Leb-York'
 'Greenvll-Spart-Ashevll-And' 'Harrisonburg' 'Myrtle Beach-Florence'
 'Ft. Myers-Naples' 'Roanoke-Lynchburg' 'Johnstown-Altoona-St Colge'
 'Chattanooga' 'Salisbury' 'Wilkes Barre-Scranton' 'Terre Haute'
 'Lafayette, IN' 'Alpena' 'Charlottesville' 'South Bend-Elkhart'
 'Gainesville' 'Zanesville' 'Parkersburg' 'Clarksburg-Weston'
 'Corpus Christi' 'Joplin-Pittsburg' 'Columbia-Jefferson City' 'Topeka'
 'Dothan' 'Rockford' 'Rochestr-Mason City-Austin' 'Shreveport'
 'Minneapolis-St. Paul' 'Springfield, MO' 'New Orleans' 'Dallas-Ft. Worth'
 'Sioux City' 'Waco-Temple-Bryan' 'Victoria' 'Wichita Falls & Lawton'
 'Monroe-El Dorado' 'Birmingham (Ann And Tusc)' 'Ottumwa-Kirksville'
 'Paducah-Cape Girard-Harsbg' 'Odessa-Midland' 'Amarillo'
 'Harlingen-Wslco-Brnsvl-Mca' 'Cedar Rapids-Wtrlo-Iwc&Dub' 'St. Joseph'
 'Jackson, TN' 'Memphis' 'Lafayette, LA' 'Lake Charles' 'Alexandria, LA'
 'Greenwood-Greenville' 'Champaign&Sprngfld-Decatur' 'Evansville'
 'Oklahoma City' 'Lubbock' 'Omaha' 'Panama City' 'Sherman-Ada'
 'Green Bay-Appleton' 'San Angelo' 'Abilene-Sweetwater' 'Madison'
 'Ft. Smith-Fay-Sprngdl-Rgrs' 'Tulsa' 'Columbus-Tupelo-W Pnt-Hstn'
 'Peoria-Bloomington' 'Duluth-Superior' 'Wichita-Hutchinson Plus'
 'Des Moines-Ames' 'Davenport-R.Island-Moline'
 'Mobile-Pensacola (Ft Walt)' 'Minot-Bsmrck-Dcknsn(Wlstn)'
 'Huntsville-Decatur (Flor)' 'Beaumont-Port Arthur'
 'Little Rock-Pine Bluff' 'Montgomery-Selma' 'La Crosse-Eau Claire'
 'Wausau-Rhinelander' 'Tyler-Longview(Lfkn&Ncgd)' 'Hattiesburg-Laurel'
 'Meridian' 'Baton Rouge' 'Quincy-Hannibal-Keokuk' 'Jackson, MS'
 'Lincoln & Hastings-Krny' 'Fargo-Valley City' 'Sioux Falls(Mitchell)'
 'Jonesboro' 'Bowling Green' 'Mankato' 'North Platte' 'Anchorage'
 'Honolulu' 'Fairbanks' 'Biloxi-Gulfport' 'Juneau' 'Laredo'
 'Colorado Springs-Pueblo' 'Phoenix (Prescott)' 'Butte-Bozeman'
 'Great Falls' 'Billings' 'Boise' 'Idaho Fals-Pocatllo(Jcksn)'
 'Cheyenne-Scottsbluf' 'Twin Falls' 'Missoula' 'Rapid City'
 'El Paso (Las Cruces)' 'Helena' 'Casper-Riverton' 'Yuma-El Centro'
 'Grand Junction-Montrose' 'Tucson (Sierra Vista)' 'Albuquerque-Santa Fe'
 'Glendive' 'Bakersfield' 'Eugene' 'Eureka' 'Palm Springs'
 'San Francisco-Oak-San Jose' 'Yakima-Pasco-Rchlnd-Knnwck' 'Reno'
 'Medford-Klamath Falls' 'Seattle-Tacoma' 'Portland, OR' 'Bend, OR'
 'Monterey-Salinas' 'Santabarbra-Sanmar-Sanluob'
 'Sacramnto-Stkton-Modesto' 'Fresno-Visalia' 'Chico-Redding' 'Spokane'
 'Paducah - Cape Girardeau - Harrisburg'
 'Harlingen - Weslaco - Brownsville - Mcallen' 'Jackson'
 'El Paso (las Cruces)' 'Tucson (sierra Vista)' 'Albuquerque - Santa Fe'
 'Fresno - Visalia' 'Cedar Rapids - Waterloo - Iowa City & Dubuque'
 'Portland - Auburn' 'Green Bay - Appleton' 'Wichita - Hutchinson Plus'
 'Davenport - Rhode Island - Moline' 'La Crosse - Eau Claire'
 'West Palm Beach - Ft. Pierce' 'Grand Rapids - Kalamazoo - Battle Creek'
 'Wilkes Barre - Scranton - Hazleton' 'Lafayette' 'Casper - Riverton'
 'Yuma - El Centro' 'Clarksburg - Weston' 'Columbia - Jefferson City'
 'Chico - Redding' 'Harrisburg - Lancaster - Lebanon - York'
 'Albany - Schenectady - Troy' 'Columbus'
 'Champaign Springfield - Decatur'
 'Greensboro - High Point - Winston Salem' 'Albany'
 'Raleigh - Durham (fayetteville)'
 'Greenville - Spartanburg - Asheville - Anderson' 'Butte - Bozeman'
 'Ft. Myers - Naples' 'Roanoke - Lynchburg'
 'Yakima - Pasco - Richland - Kennewick' 'Waco - Temple - Bryan'
 'Providence - New Bedford' 'Birmingham (anniston And Tuscaloosa)'
 'Montgomery - Selma' 'Columbia' 'Norfolk - Portsmouth - Newport News']
--------------------------------------------//City counts\\---------------------------------------------------
263
-----------------------------------------------///END\\--------------------------------------------------------
--------------------------------------------//Metric\\---------------------------------------------------
['Impressions' 'Media Cost' 'Clicks']
--------------------------------------------//Metric counts\\---------------------------------------------------
3
-----------------------------------------------///END\\--------------------------------------------------------
--------------------------------------------//Value\\---------------------------------------------------
[5.947e+03 6.712e+01 2.100e+01 ... 1.110e+00 6.381e+03 4.145e+03]
--------------------------------------------//Value counts\\---------------------------------------------------
43408
-----------------------------------------------///END\\--------------------------------------------------------
--------------------------------------------//Message type\\---------------------------------------------------
['Future Market' 'Near Market']
--------------------------------------------//Message type counts\\---------------------------------------------------
2
-----------------------------------------------///END\\--------------------------------------------------------
--------------------------------------------//Model\\---------------------------------------------------
['Altima' 'Armada' 'Kicks' 'Pathfinder' 'Rogue' 'Sentra' 'Multi-Model']
--------------------------------------------//Model counts\\---------------------------------------------------
7
-----------------------------------------------///END\\--------------------------------------------------------

In [13]:
merged_single_data['Date'] = pd.to_datetime(merged_single_data['Date'])#befor it will show in object after do this date columns will be in int type***only int columns accept next steps process***

In [14]:
merged_single_data['Day'] = merged_single_data['Date'].dt.day#coverting or sperateing date to date columns

In [15]:
merged_single_data['Month'] = merged_single_data['Date'].dt.month#coverting or sperateing month to year columns

In [16]:
merged_single_data['Year'] = merged_single_data['Date'].dt.year#coverting or sperateing date to year columns

In [17]:
merged_single_data

,Date,Data source,Campaign,Media Type,City,Metric,Value,Message type,Model,Day,Month,Year
0,2020-10-01,Snapchat,Altima campaign 1,Online Video,Austin,Impressions,5947.00,Future Market,Altima,1,10,2020
1,2020-10-01,Snapchat,Altima campaign 1,Online Video,Austin,Media Cost,67.12,Future Market,Altima,1,10,2020
2,2020-10-01,Snapchat,Altima campaign 1,Online Video,Austin,Clicks,21.00,Future Market,Altima,1,10,2020
3,2020-10-01,Snapchat,Altima campaign 1,Online Video,San Antonio,Impressions,5295.00,Future Market,Altima,1,10,2020
4,2020-10-01,Snapchat,Altima campaign 1,Online Video,San Antonio,Media Cost,58.40,Future Market,Altima,1,10,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
123679,2021-09-27,Pinterest,shop at home,Display,Greenville-N.Bern-Washngtn,Media Cost,0.00,Future Market,Multi-Model,27,9,2021
123680,2021-09-27,Pinterest,shop at home,Display,Greenville-N.Bern-Washngtn,Clicks,0.00,Future Market,Multi-Model,27,9,2021
123684,2021-09-27,Pinterest,shop at home,Display,Harlingen-Wslco-Brnsvl-Mca,Impressions,2.00,Future Market,Multi-Model,27,9,2021
123685,2021-09-27,Pinterest,shop at home,Display,Harlingen-Wslco-Brnsvl-Mca,Media Cost,0.00,Future Market,Multi-Model,27,9,2021
123686,2021-09-27,Pinterest,shop at home,Display,Harlingen-Wslco-Brnsvl-Mca,Clicks,0.00,Future Market,Multi-Model,27,9,2021

In [18]:
merged_single_data

,Date,Data source,Campaign,Media Type,City,Metric,Value,Message type,Model,Day,Month,Year
0,2020-10-01,Snapchat,Altima campaign 1,Online Video,Austin,Impressions,5947.00,Future Market,Altima,1,10,2020
1,2020-10-01,Snapchat,Altima campaign 1,Online Video,Austin,Media Cost,67.12,Future Market,Altima,1,10,2020
2,2020-10-01,Snapchat,Altima campaign 1,Online Video,Austin,Clicks,21.00,Future Market,Altima,1,10,2020
3,2020-10-01,Snapchat,Altima campaign 1,Online Video,San Antonio,Impressions,5295.00,Future Market,Altima,1,10,2020
4,2020-10-01,Snapchat,Altima campaign 1,Online Video,San Antonio,Media Cost,58.40,Future Market,Altima,1,10,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
123679,2021-09-27,Pinterest,shop at home,Display,Greenville-N.Bern-Washngtn,Media Cost,0.00,Future Market,Multi-Model,27,9,2021
123680,2021-09-27,Pinterest,shop at home,Display,Greenville-N.Bern-Washngtn,Clicks,0.00,Future Market,Multi-Model,27,9,2021
123684,2021-09-27,Pinterest,shop at home,Display,Harlingen-Wslco-Brnsvl-Mca,Impressions,2.00,Future Market,Multi-Model,27,9,2021
123685,2021-09-27,Pinterest,shop at home,Display,Harlingen-Wslco-Brnsvl-Mca,Media Cost,0.00,Future Market,Multi-Model,27,9,2021
123686,2021-09-27,Pinterest,shop at home,Display,Harlingen-Wslco-Brnsvl-Mca,Clicks,0.00,Future Market,Multi-Model,27,9,2021

In [19]:
only_impression = merged_single_data[merged_single_data['Metric']=='Impressions']#Impressions data table only seprateing

In [20]:
#Find out the top 5 months in terms of impressions
grouping_year_month = only_impression.groupby(['Month','Year'])['Value'].sum()
maximum_impression_months = grouping_year_month.sort_values(ascending = False).head(5).reset_index()

In [21]:
maximum_impression_months

   Month  Year        Value
0      9  2021  165961494.0
1     10  2020  129386691.0
2      8  2021  110579025.0
3      3  2021  101719848.0
4      2  2020   61351689.0

In [22]:
#Which model has maximum impressions?
maximum_impressions = only_impression.groupby(['Campaign','Model'])['Value'].sum().sort_values(ascending=False).reset_index().head(3)
print(maximum_impressions)# finding top 3 maximum Campaign imperssion

                Campaign       Model        Value
0      Armada campaign 2      Armada  118817195.0
1  Pathfinder campaign 2  Pathfinder  115286607.0
2  Pathfinder campaign 6  Pathfinder   51823574.0

In [23]:
#Find out the top 3 campaigns in terms of impressions for every message type
only_Future_Market=only_impression[only_impression['Message type']=='Future Market']

In [24]:
Future_Market = only_Future_Market.groupby(['Message type','Campaign'])['Value'].sum().reset_index()#Future Market
Future_Market.sort_values('Value',ascending=False).head(3)

    Message type           Campaign       Value
2  Future Market  Altima campaign 3  45451489.0
0  Future Market  Altima campaign 1  35863660.0
7  Future Market   Kicks campaign 4  33664998.0

In [25]:
Near_Market_sperate_table = only_impression[only_impression['Message type'] == 'Near Market']#Near Market table only seprateing

In [26]:
Near_Market = Near_Market_sperate_table.groupby(['Message type','Campaign'])['Value'].sum().reset_index()#Near Market
final_Near_Market=Near_Market.sort_values('Value',ascending=False).head(3)
final_Near_Market

   Message type               Campaign        Value
3   Near Market      Armada campaign 2  118817195.0
9   Near Market  Pathfinder campaign 2  115286607.0
13  Near Market  Pathfinder campaign 6   51823574.0

In [27]:
final_Near_Market['Value']

3     118817195.0
9     115286607.0
13     51823574.0
Name: Value, dtype: float64

In [28]:
hhh=final_Near_Market['Value']
hhh

3     118817195.0
9     115286607.0
13     51823574.0
Name: Value, dtype: float64

In [29]:
only_Clicks = merged_single_data[merged_single_data['Metric']=='Clicks']

In [30]:
only_Clicks['Value'].max()# only clicks values

2879.0

In [31]:
#Does the campaign with maximum impressions also have maximum clicks?
same_or_not = only_Clicks.groupby(['Campaign'])['Value'].value_counts().reset_index()
final_only_clicks=same_or_not.sort_values('Value',ascending=False).head(1).drop('count',axis=1)
final_only_clicks# only clicks values in data frame

               Campaign   Value
1150  Armada campaign 2  2879.0

In [32]:
#Does the campaign with maximum impressions also have maximum clicks?
same_or_not2=only_impression.groupby(['Campaign','Metric'])['Value'].value_counts().reset_index()
final_only_impression=same_or_not2.sort_values('Value',ascending=False).head(1).drop('count',axis=1)
final_only_impression

                    Campaign       Metric      Value
14147  Pathfinder campaign 1  Impressions  1627800.0

In [33]:
if final_only_clicks['Value'].values == final_only_impression['Value'].values :
    print("same")
else:
    print("not same") #condition checking for same or not

not same

In [185]:
reunion_of_impression=only_impression.groupby(['Campaign','Media Type'])['Value'].sum().reset_index()
#bnh=reunion_of_impression[['Campaign','Value']]
#bnh
reunion_of_impression

             Campaign    Media Type       Value
0   Altima campaign 1  Online Video  35863660.0
1   Altima campaign 2       Display       187.0
2   Altima campaign 2  Online Video   7200440.0
3   Altima campaign 3       Display       782.0
4   Altima campaign 3  Online Video  45450707.0
..                ...           ...         ...
86  Sentra campaign 8  Online Video   1356431.0
87  Sentra campaign 9       Display         2.0
88  Sentra campaign 9  Online Video   2374127.0
89       shop at home       Display   4547059.0
90       shop at home  Online Video    368871.0

[91 rows x 3 columns]

In [186]:
only_Media_Cost = merged_single_data[merged_single_data['Metric']=='Media Cost']#seprateing Metric from Media Cost

In [187]:
only_Media_Cost

,Date,Data source,Campaign,Media Type,City,Metric,Value,Message type,Model,Day,Month,Year
1,2020-10-01,Snapchat,Altima campaign 1,Online Video,Austin,Media Cost,67.12,Future Market,Altima,1,10,2020
4,2020-10-01,Snapchat,Altima campaign 1,Online Video,San Antonio,Media Cost,58.40,Future Market,Altima,1,10,2020
7,2020-10-01,Snapchat,Altima campaign 1,Online Video,Washington,Media Cost,137.86,Future Market,Altima,1,10,2020
10,2020-10-01,Snapchat,Altima campaign 1,Online Video,Charlotte,Media Cost,66.99,Future Market,Altima,1,10,2020
13,2020-10-01,Snapchat,Altima campaign 1,Online Video,New York,Media Cost,370.74,Future Market,Altima,1,10,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
123670,2021-09-27,Pinterest,shop at home,Online Video,Chico-Redding,Media Cost,2.90,Future Market,Multi-Model,27,9,2021
123673,2021-09-27,Pinterest,shop at home,Online Video,Spokane,Media Cost,10.02,Future Market,Multi-Model,27,9,2021
123676,2021-09-27,Pinterest,shop at home,Display,Miami-Ft. Lauderdale,Media Cost,0.00,Future Market,Multi-Model,27,9,2021
123679,2021-09-27,Pinterest,shop at home,Display,Greenville-N.Bern-Washngtn,Media Cost,0.00,Future Market,Multi-Model,27,9,2021
123685,2021-09-27,Pinterest,shop at home,Display,Harlingen-Wslco-Brnsvl-Mca,Media Cost,0.00,Future Market,Multi-Model,27,9,2021

In [188]:
reunion_of_Media_Cost = only_Media_Cost.groupby(['Campaign','Media Type'])['Value'].sum().reset_index()#seprateing Campaign and Value
reunion_of_Media_Cost
#only_impression.groupby(['Campaign','Metric'])['Value'].value_counts().reset_index()

             Campaign    Media Type      Value
0   Altima campaign 1  Online Video  489477.29
1   Altima campaign 2       Display       0.00
2   Altima campaign 2  Online Video   74693.85
3   Altima campaign 3       Display       0.00
4   Altima campaign 3  Online Video  376369.35
..                ...           ...        ...
86  Sentra campaign 8  Online Video   15547.71
87  Sentra campaign 9       Display       0.00
88  Sentra campaign 9  Online Video   28385.29
89       shop at home       Display   49540.62
90       shop at home  Online Video    2336.74

[91 rows x 3 columns]

In [189]:
#cmp_finding_table = pd.merge ( reunion_of_impression , reunion_of_Media_Cost )
cmp_finding_table = pd.merge ( reunion_of_Media_Cost , reunion_of_impression ,on='Campaign')

cmp_finding_table
#print(cmp_finding_table['Campaign'].duplicated().sum())  # Count duplicates in A

              Campaign  Media Type_x    Value_x  Media Type_y     Value_y
0    Altima campaign 1  Online Video  489477.29  Online Video  35863660.0
1    Altima campaign 2       Display       0.00       Display       187.0
2    Altima campaign 2       Display       0.00  Online Video   7200440.0
3    Altima campaign 2  Online Video   74693.85       Display       187.0
4    Altima campaign 2  Online Video   74693.85  Online Video   7200440.0
..                 ...           ...        ...           ...         ...
152  Sentra campaign 9  Online Video   28385.29  Online Video   2374127.0
153       shop at home       Display   49540.62       Display   4547059.0
154       shop at home       Display   49540.62  Online Video    368871.0
155       shop at home  Online Video    2336.74       Display   4547059.0
156       shop at home  Online Video    2336.74  Online Video    368871.0

[157 rows x 5 columns]

In [190]:
#cmp_finding_table.drop_duplicates(cmp_finding_table[cmp_finding_table.duplicated()],inplace=True)

In [191]:
cmp_finding_table['cpm']=( cmp_finding_table['Value_x'] / cmp_finding_table['Value_y'] ) * 1000

In [193]:
wwwww=cmp_finding_table.sort_values('cpm',ascending=False)#.head(5)
round(wwwww)
#uuu = wwwww.replace([np.inf, -np.inf], 0, inplace=True)

,Campaign,Media Type_x,Value_x,Media Type_y,Value_y,cpm
84,Sentra campaign 14,Online Video,82237.0,Display,1.0,82237260.0
49,Kicks campaign 6,Online Video,370963.0,Display,9.0,41218107.0
143,Sentra campaign 7,Online Video,46075.0,Display,2.0,23037535.0
151,Sentra campaign 9,Online Video,28385.0,Display,2.0,14192645.0
113,Sentra campaign 21,Online Video,35633.0,Display,4.0,8908298.0
...,...,...,...,...,...,...
42,Kicks campaign 4,Display,0.0,Display,270.0,0.0
39,Kicks campaign 3,Display,0.0,Online Video,27166826.0,0.0
83,Sentra campaign 14,Display,0.0,Online Video,7100166.0,0.0
120,Sentra campaign 23,Display,0.0,Online Video,1870559.0,0.0
78,Sentra campaign 13,Display,0.0,Display,12.0,0.0

In [197]:
final_cmp_finding_table = round(cmp_finding_table.sort_values('cpm',ascending=False).head(5))
final_cmp_finding_table

,Campaign,Media Type_x,Value_x,Media Type_y,Value_y,cpm
84,Sentra campaign 14,Online Video,82237.0,Display,1.0,82237260.0
49,Kicks campaign 6,Online Video,370963.0,Display,9.0,41218107.0
143,Sentra campaign 7,Online Video,46075.0,Display,2.0,23037535.0
151,Sentra campaign 9,Online Video,28385.0,Display,2.0,14192645.0
113,Sentra campaign 21,Online Video,35633.0,Display,4.0,8908298.0

In [195]:
only_Media_Cost

,Date,Data source,Campaign,Media Type,City,Metric,Value,Message type,Model,Day,Month,Year
1,2020-10-01,Snapchat,Altima campaign 1,Online Video,Austin,Media Cost,67.12,Future Market,Altima,1,10,2020
4,2020-10-01,Snapchat,Altima campaign 1,Online Video,San Antonio,Media Cost,58.40,Future Market,Altima,1,10,2020
7,2020-10-01,Snapchat,Altima campaign 1,Online Video,Washington,Media Cost,137.86,Future Market,Altima,1,10,2020
10,2020-10-01,Snapchat,Altima campaign 1,Online Video,Charlotte,Media Cost,66.99,Future Market,Altima,1,10,2020
13,2020-10-01,Snapchat,Altima campaign 1,Online Video,New York,Media Cost,370.74,Future Market,Altima,1,10,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
123670,2021-09-27,Pinterest,shop at home,Online Video,Chico-Redding,Media Cost,2.90,Future Market,Multi-Model,27,9,2021
123673,2021-09-27,Pinterest,shop at home,Online Video,Spokane,Media Cost,10.02,Future Market,Multi-Model,27,9,2021
123676,2021-09-27,Pinterest,shop at home,Display,Miami-Ft. Lauderdale,Media Cost,0.00,Future Market,Multi-Model,27,9,2021
123679,2021-09-27,Pinterest,shop at home,Display,Greenville-N.Bern-Washngtn,Media Cost,0.00,Future Market,Multi-Model,27,9,2021
123685,2021-09-27,Pinterest,shop at home,Display,Harlingen-Wslco-Brnsvl-Mca,Media Cost,0.00,Future Market,Multi-Model,27,9,2021

In [180]:
media_cost_avg=only_Media_Cost.groupby(['Campaign','Metric'])['Value'].sum().reset_index()

In [183]:
media_cost_avg['Value'].mean()

135424.12379310344

In [198]:
#Which media type is more expensive in terms of CPM?
final_cmp_finding_table.head(1)

,Campaign,Media Type_x,Value_x,Media Type_y,Value_y,cpm
84,Sentra campaign 14,Online Video,82237.0,Display,1.0,82237260.0