In [12]:
import numpy as np
import pandas as pd
import warnings as warn
import openpyxl
warn.filterwarnings('ignore')

In [13]:
df=pd.read_excel(r"C:\Users\ykmi1\Downloads\Campaign data.xlsx")

In [30]:
df

,Date,Data source,Campaign,Media Type,City,Metric,Value
0,2019-12-30,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Impressions,1.00
1,2019-12-30,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Media Cost,0.00
2,2019-12-30,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Clicks,0.00
3,2019-12-30,Pinterest,Kicks campaign 2,Display,Sacramnto-Stkton-Modesto,Impressions,1.00
4,2019-12-30,Pinterest,Kicks campaign 2,Display,Sacramnto-Stkton-Modesto,Media Cost,0.00
...,...,...,...,...,...,...,...
123694,2021-09-30,Snapchat,Pathfinder campaign 7,Online Video,Sacramento - Stockton - Modesto,Media Cost,136.94
123695,2021-09-30,Snapchat,Pathfinder campaign 7,Online Video,Sacramento - Stockton - Modesto,Clicks,81.00
123696,2021-09-30,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Impressions,16579.00
123697,2021-09-30,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Media Cost,297.78
123698,2021-09-30,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Clicks,128.00

In [6]:
df.shape

(123699, 7)

In [7]:
df1=pd.read_excel(r"C:\Users\ykmi1\Downloads\Campaign data.xlsx",sheet_name=1)

In [29]:
df1

                 Campaign   Message type        Model
0       Sentra campaign 2  Future Market       Sentra
1       Sentra campaign 4  Future Market       Sentra
2       Sentra campaign 3  Future Market       Sentra
3       Sentra campaign 1  Future Market       Sentra
4       Altima campaign 1  Future Market       Altima
5       Altima campaign 5  Future Market       Altima
6       Altima campaign 4  Future Market       Altima
7       Altima campaign 6  Future Market       Altima
8        Kicks campaign 6  Future Market        Kicks
9        Kicks campaign 5  Future Market        Kicks
10       Rogue campaign 1  Future Market        Rogue
11       Rogue campaign 3  Future Market        Rogue
12       Rogue pre launch  Future Market        Rogue
13       Rogue campaign 5  Future Market        Rogue
14       Rogue campaign 4  Future Market        Rogue
15  Pathfinder campaign 3    Near Market   Pathfinder
16      Armada campaign 1    Near Market       Armada
17  Pathfinder campaign 8    Near Market   Pathfinder
18  Pathfinder campaign 5    Near Market   Pathfinder
19  Pathfinder campaign 6    Near Market   Pathfinder
20  Pathfinder campaign 7    Near Market   Pathfinder
21      Altima campaign 3  Future Market       Altima
22      Altima campaign 2  Future Market       Altima
23      Altima campaign 7    Near Market       Altima
24      Altima campaign 8    Near Market       Altima
25       Rogue campaign 2  Future Market        Rogue
26       Kicks campaign 3  Future Market        Kicks
27       Kicks campaign 4  Future Market        Kicks
28  Pathfinder campaign 2    Near Market   Pathfinder
29  Pathfinder campaign 1    Near Market   Pathfinder
30  Pathfinder campaign 4    Near Market   Pathfinder
31           shop at home  Future Market  Multi-Model
32       Kicks campaign 2    Near Market        Kicks
33       Kicks campaign 1    Near Market        Kicks
34      Armada campaign 2    Near Market       Armada
35      Armada campaign 4    Near Market       Armada
36      Armada campaign 3    Near Market       Armada
37     Sentra campaign 11    Near Market       Sentra
38     Sentra campaign 14    Near Market       Sentra
39     Sentra campaign 20    Near Market       Sentra
40     Sentra campaign 21    Near Market       Sentra
41      Sentra campaign 9    Near Market       Sentra
42      Sentra campaign 7    Near Market       Sentra
43      Sentra campaign 6    Near Market       Sentra
44     Sentra campaign 12    Near Market       Sentra
45     Sentra campaign 19    Near Market       Sentra
46     Sentra campaign 18    Near Market       Sentra
47     Sentra campaign 22    Near Market       Sentra
48     Sentra campaign 23    Near Market       Sentra
49     Sentra campaign 25    Near Market       Sentra
50      Sentra campaign 5    Near Market       Sentra
51     Sentra campaign 13    Near Market       Sentra
52     Sentra campaign 15    Near Market       Sentra
53      Sentra campaign 8    Near Market       Sentra
54     Sentra campaign 10    Near Market       Sentra
55     Sentra campaign 24    Near Market       Sentra
56     Sentra campaign 16    Near Market       Sentra
57     Sentra campaign 17    Near Market       Sentra

In [27]:
s=pd.merge(df,df1,how='inner')#on='dataframe',,,(how=inner,outer,,left,right)(inner=common ,outer=all data ,right=all to present in right dataframe to print ,left=all to present in left dataframe to print ,)

In [32]:
s=pd.concat([df,df1],ignore_index=True)

In [33]:
s

,Date,Data source,Campaign,Media Type,City,Metric,Value,Message type,Model
0,2019-12-30,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Impressions,1.0,NaN,NaN
1,2019-12-30,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Media Cost,0.0,NaN,NaN
2,2019-12-30,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Clicks,0.0,NaN,NaN
3,2019-12-30,Pinterest,Kicks campaign 2,Display,Sacramnto-Stkton-Modesto,Impressions,1.0,NaN,NaN
4,2019-12-30,Pinterest,Kicks campaign 2,Display,Sacramnto-Stkton-Modesto,Media Cost,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
123752,NaT,NaN,Sentra campaign 8,NaN,NaN,NaN,NaN,Near Market,Sentra
123753,NaT,NaN,Sentra campaign 10,NaN,NaN,NaN,NaN,Near Market,Sentra
123754,NaT,NaN,Sentra campaign 24,NaN,NaN,NaN,NaN,Near Market,Sentra
123755,NaT,NaN,Sentra campaign 16,NaN,NaN,NaN,NaN,Near Market,Sentra
123756,NaT,NaN,Sentra campaign 17,NaN,NaN,NaN,NaN,Near Market,Sentra

In [34]:
s.sample(10)

,Date,Data source,Campaign,Media Type,City,Metric,Value,Message type,Model
49859,2020-12-26,Snapchat,Rogue campaign 4,Online Video,Orlando - Daytona Beach - Melbourne,Clicks,62.00,NaN,NaN
72811,2021-03-10,Snapchat,Kicks campaign 5,Online Video,Philadelphia,Media Cost,18.31,NaN,NaN
22368,2020-10-10,Snapchat,Altima campaign 1,Online Video,Austin,Impressions,27745.00,NaN,NaN
13770,2020-07-27,Snapchat,Sentra campaign 1,Online Video,Los Angeles,Impressions,3185.00,NaN,NaN
65139,2021-02-22,Pinterest,Kicks campaign 4,Online Video,Helena,Impressions,2203.00,NaN,NaN
42477,2020-11-25,Snapchat,Rogue campaign 5,Online Video,Miami - Ft. Lauderdale,Impressions,11471.00,NaN,NaN
90646,2021-07-26,Pinterest,Altima campaign 3,Display,Spokane,Media Cost,0.00,NaN,NaN
50792,2020-12-28,Pinterest,Rogue campaign 2,Online Video,Harrisburg-Lncstr-Leb-York,Clicks,10.00,NaN,NaN
20979,2020-10-05,Pinterest,Altima campaign 2,Online Video,Augusta-Aiken,Impressions,2362.00,NaN,NaN
48727,2020-12-22,Snapchat,Rogue campaign 5,Online Video,Chicago,Media Cost,409.91,NaN,NaN

In [14]:
s['Value'].value_counts()

Value
0.00        17376
1.00         3489
2.00         2479
3.00         1742
4.00         1414
            ...
37290.00        1
11308.00        1
52.79           1
10822.00        1
297.78          1
Name: count, Length: 43408, dtype: int64

In [20]:
s['Value'].unique

<bound method Series.unique of 0             1.00
1             0.00
2             0.00
3             1.00
4             0.00
            ...
123694      136.94
123695       81.00
123696    16579.00
123697      297.78
123698      128.00
Name: Value, Length: 123699, dtype: float64>

In [24]:
s['Value'].duplicated().sum()

80291

In [ ]:
df.tail(5)

In [ ]:
df.sample(10)

In [ ]:
df.loc[0:,['Loan_ID','Education','Credit_History','Property_Area']]

In [ ]:
df.info('Gender')

In [ ]:
df.iloc[:-1,5:-1]

In [ ]:
df.columns

In [57]:
for i in df.columns:
    if df[i].info() == 'object':
        print("iiii")
    else:
        print("ntg")

<class 'pandas.core.series.Series'>
RangeIndex: 123699 entries, 0 to 123698
Series name: Date
Non-Null Count   Dtype
--------------   -----
123699 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 966.5 KB
ntg
<class 'pandas.core.series.Series'>
RangeIndex: 123699 entries, 0 to 123698
Series name: Data source
Non-Null Count   Dtype
--------------   -----
123699 non-null  object
dtypes: object(1)
memory usage: 966.5+ KB
ntg
<class 'pandas.core.series.Series'>
RangeIndex: 123699 entries, 0 to 123698
Series name: Campaign
Non-Null Count   Dtype
--------------   -----
123699 non-null  object
dtypes: object(1)
memory usage: 966.5+ KB
ntg
<class 'pandas.core.series.Series'>
RangeIndex: 123699 entries, 0 to 123698
Series name: Media Type
Non-Null Count   Dtype
--------------   -----
123699 non-null  object
dtypes: object(1)
memory usage: 966.5+ KB
ntg
<class 'pandas.core.series.Series'>
RangeIndex: 123699 entries, 0 to 123698
Series name: City
Non-Null Count   Dtype
--------------   -----
123699 non-null  object
dtypes: object(1)
memory usage: 966.5+ KB
ntg
<class 'pandas.core.series.Series'>
RangeIndex: 123699 entries, 0 to 123698
Series name: Metric
Non-Null Count   Dtype
--------------   -----
123699 non-null  object
dtypes: object(1)
memory usage: 966.5+ KB
ntg
<class 'pandas.core.series.Series'>
RangeIndex: 123699 entries, 0 to 123698
Series name: Value
Non-Null Count   Dtype
--------------   -----
123699 non-null  float64
dtypes: float64(1)
memory usage: 966.5 KB
ntg

In [ ]:
dd=df['Credit_History'].count()

In [ ]:
print(type(dd))

In [14]:
rr=df[i].info() == 'object'

NameError: name 'i' is not defined

In [18]:
rr=df[df['Gender']=='Male']

In [19]:
rr

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y

In [20]:
rr1=df[df['Education']=='Graduate']

In [1]:
rr1

NameError: name 'rr1' is not defined

In [2]:
rr2=df.groupby('Education')['ApplicantIncome'].sum()

NameError: name 'df' is not defined

In [26]:
rr2

Education
Graduate        2197661
Not Graduate     377170
Name: ApplicantIncome, dtype: int64

In [ ]:
df['gender'].unique()

In [ ]:
df['gender'].nunique()

In [ ]:
df_new=df[df['gender']=='male']

In [ ]:
#grorp by 
df.groupby(["gender", 'education'])['application'].sum()

In [ ]:
(df.groupby(["gender", 'education'])['application'].sum()).sort_values()

In [ ]:
(df.groupby(["gender", 'education'])['application'].sum()).sort_values(ascending=False)##values in decending order

In [ ]:
(df.groupby(["gender", 'education'])['application'].sum()).sort_values(ascending=False)[:2]#values in decending order with slicing opertor

In [ ]:
(df.groupby(["gender", 'education'])[['application','loanamount']].sum())#double colums count

In [ ]:
(df.groupby(["gender", 'education'])[['application','loanamount']].sum())sort_values(by = 'loanamount',ascending=False)#to print double colums as one columns to ascending or decending order

In [ ]:
pp=[12,1,2,3,4]
for i in pp:
    print(i)
    print("------------------------------11111111111111111111111111-------------------------------")
    uu=mm[(mm['Month']== i) & (mm['Metric']=='Impressions')]
    print(uu)
    print("------------------------------22222222222222222222222222-------------------------------")
    print(mm[mm['Month']== i])
    print("------------------------------33333333333333333333333333-------------------------------")