In [1]:
import numpy as np 
import pandas as pd

In [36]:
df=pd.read_excel(r"C:\Users\ykmi1\OneDrive\Desktop\Campaign data.xlsx")

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

csv,text,tsv
comma separted values 
tab separted values

In [13]:
df

,Role,Company,Location,Mail ID,Contact No
0,Analy,Sutherland Global Services,"Balaji Nagar, Chennai",pa.narasimhan@sutherlandglobal.com,"044 4391 7884 , +91-44-7101-7886"
1,Analy,Cholamandalam Investment and Finance company,"Guindy, Chennai",corporatecommunications@ chola.murugappa.com,"044 - 40906114 , 04439873000"
2,Analy,Societe generale,"Manapakkam, Chennai",gsc-cs-compliance@socgen.com,91 4466027000
3,Analy,Scope e-knowledge center,"Nandambakkam , Chennai",stm-ks@scopeknowledge.com,91 4424314201
4,Analy,Hexwawares Technologies,"SIPCOT IT Park , Chennai",marketing@hexaware.com,"91 02267919595 , 044-47451000"
5,Analy,Latent view Analytics,"Tharamani, Chennai",info@latentview.com,044 4344 1700
6,Analy,Thought works,"Tharamani, Chennai",au@thoughtworks.com,"61 73129 4506 , 04449018400"
7,Analy,Hewlett Packard Enterprise,"Tharamani, Chennai",support@hp.com,"044 4458 6111 , 1800 419 8080"
8,Analy,Ramco systems,"Tharamani, Chennai",contact@ramco.com,"91 44 2235 4510 , 91 44 6653 4000"
9,DA,Experian,"Hyderabad, Telangana",mediarelations@experian.com,1 888 397 3742
10,DA,L&T Technology services,"Manapakkam,Chennai",info@ltts.com,044 6630 2000
11,DA,Mphasis,"Manapakkam,Chennai",subramanian.narayan@mphasis.com,044 6637 0000
12,DA,Qube cinemas,"Mylapore, Chennai",divya.venkat@qubecinema.com,044 4204 1505
13,DA,TVS motor company,"Nungambakkam, Chennai",sales.support@tvsmotor.com,"044 2833 2115 , 91 4344276780"
14,DA,Hinduja Global Solution,"Nungambakkam, Chennai",investor.relations@teamhgs.com,"044 4289 8888 , 022-24960707"
15,DA,CSS Crop,Perungalathur Chennai,"corporate.marketing@csscorp.com ,","04461041800 , (044) 66768000"
16,DA,Freshworks,"Perungudi, Chennai",careers@freshworks.com,044 6667 8040
17,DA,Verizon Data Services India,"Perungudi, Guindy, Chennai","devakumar.ramamoorthy@verizon.com , ask.career...",044 4394 5000
18,DA,Photon Interactive,"Ramapuram, Chennai",parthasarathy.krishnamurthy@photoninfotech.net,044 3061 8000
19,DA,Sundaram Infotech,"Royapettah, Chennai",customercare@sundaramfinance.in,"044 2851 4066 , 91 44 2852 1181"
20,DA,HCL Technologies,"Sholinganallur, Chennai",investors@hcl.com,"(044) 61050000 , 66429000"
21,DA,Ford India,"Sholinganallur, Chennai",custmail@ford.com,"97898 96111 , 86575 89376"
22,DA,Tarams Software Technologies,"Sholinganallur, Chennai",jobs@tarams.com,NaN
23,DA,Hexagon Capability center India,"T. Nagar, Chennai",customer_desk@hexagon.org.uk,91 4071035000
24,DA,Inautix Technologies,"Taramani,Chennai","CAREERS@INAUTIX.COM , contact@connect2India.com",044 2254 6000
25,DA,Caterpiller,"Tharamani, Chennai",company_secretary@cat.com,080080 66832
26,DA,Zoho corporation,"Vallancherry, Taluk, Chengalpattu","sales@zohocorp.com , support@zoho.com",1800 103 1123
27,Da&DS,Veritas Technologies,Pune,"customercare@veritasregistrars.com , enquiry@...",800-9190086
28,Da&DS,Mindtree,"Tharamani, Chennai",info@mindtree.com,"044 6671 1100 , 91 80 67064000"
29,DA&ML,Quintiles IMS (IQVIA),"Guindy, Chennai",Qsecretarialindia@iqvia.com,044 3967 2301
30,DA&ML,Paypal,"Sholinganallur, Chennai","paypalglobaltalentacquisition@paypal.com , emp...","(044) 66348000 , 66348001"
31,DA&ML,Infosys,"Sholinganallur, Chennai",askus@infosys.com,"044 2450 9530 , 8028520261"
32,DA&ML,Amazon,"Tharamani, Chennai",https://www.amazon.jobs/,1-888-892-7180
33,DA&Vis,Capgemini,"Karapakkam, Chennai",fresherhiring.in@capgemini.com,044-6749 2000
34,DA&Vis,Deloitte,"T-nagar,Chennai",usindiaogc@deloitte.com,91 44 6688 5000
35,DA&Vis,TCS,"Velachery, Chennai",careers@tcs.com,"1800-209-3111, 044 6616 6999"
36,Data,Daimler India,"Perungudi, Chennai",dialog@daimler.com,044 4599 6000
37,DS,Searce,"Perungudi, OMR, Chennai",careers@searce.com,7947121083
38,DS,INautix (BNY mellon),"Tharamani, Chennai",bnymellonbrokerage@bnymellon.com,"91 44 2254 6000 , 1-800-843-5466"
39,DS& Analy,Mu sigma,"EPIP Zone, Bengaluru",ContactUs@mu-sigma.com,80 7154 8000
40,DS& Analy,Tiger Analytics,"Perungudi, Chennai",venugopal@tigeranalytics.com,040 8508 4430
41,DS&DA,SAP Labs India,"Brookefield, Bengaluru","sapnetwork@sap.com , kalindee.mehta@sap.com","80 4329 4444,(080) 66655771, +496227747474"
42,DS&DA,Virtusa,"Navalur, Chennai",careers@virtusa.com,91 443 927 7700
43,DS&DA,Cognizant,"Sholinganallur, Chennai",CareersNA2@cognizant.com,"044 4209 6000, +91 44 42096060"
44,DS&DA,Wipro,"Sholinganallur, Chennai",reachus@wipro.com,"044 2450 0200, +91 80 4233 4233"
45,DS&DA,Accenture,"Sholinganallur, Chennai","John.Smith@accenture.com , deepshikha.agrawal@...","044 4078 2183 , +914442670000 , 4442670001"
46,DS&DA,Standard chartered Global Business Services,"Sholinganallur, Chennai","Head.Service@sc.com , AskHR@sc.com",044 2821 9188
47,DS&DA&ML,IBM,"Perungudi, Chennai",infoibm@us.ibm.com,"1800 102 3865,"
48,MA,Maersk Global Services Center,"Porur, Chennai",sales.support@maersk.com,"044 6693 4000 , 63 282313126"
49,MA,Vuram Technnology solution,"Saligramam, Chennai",jobs@vuram.com,044 4910 2200
50,MA,ZS Associates,NaN,NaN,NaN
51,ML,Compindia,"Aminjikarai, Chennai",info@compindia.com,"044 4261 3578, +919876543210"
52,PY,4W technologies,"Guindy, Chennai",saranconsultancy@gmail.com,"044 4332 2313, 90032 72208"
53,PY,Igarashi Motors India Limited,"Tambaram, Chennai",igarashi@igarashimotors.co.in,91-44-42298100
54,PY,Spiro Prime Tech Services,"T. Nagar, Chennai",spiroprojects@gmail.com,"9791 044 044 , 9962 067 067"
55,PY,Appadore,"Cochin, Kerala",info@appadore.com,NaN
56,PY,Newt global,"Gandhi Salai, Chennai",info@newtglobal.com,"044 6740 2999 , 972 887 3159"
57,PY,Valiant Systems,"Porur, Chennai",info@valiantsystems.com,"96000 44464, 91 99401 81721"
58,PY,Surya Informatics,"Ashok Nagar, Chennai",careers@suryainformatics.com,044 4203 3355
59,PY,Logic Soft,"Gopalapuram, Chennai",shrayasr@logicsoft.co.in,044 4208 9492 / 93

In [3]:
df.head(5)

,Role,Company,Location,Mail ID,Contact No
0,Analy,Sutherland Global Services,"Balaji Nagar, Chennai",pa.narasimhan@sutherlandglobal.com,"044 4391 7884 , +91-44-7101-7886"
1,Analy,Cholamandalam Investment and Finance company,"Guindy, Chennai",corporatecommunications@ chola.murugappa.com,"044 - 40906114 , 04439873000"
2,Analy,Societe generale,"Manapakkam, Chennai",gsc-cs-compliance@socgen.com,91 4466027000
3,Analy,Scope e-knowledge center,"Nandambakkam , Chennai",stm-ks@scopeknowledge.com,91 4424314201
4,Analy,Hexwawares Technologies,"SIPCOT IT Park , Chennai",marketing@hexaware.com,"91 02267919595 , 044-47451000"

In [4]:
df.tail(5)

,Role,Company,Location,Mail ID,Contact No
55,PY,Appadore,"Cochin, Kerala",info@appadore.com,NaN
56,PY,Newt global,"Gandhi Salai, Chennai",info@newtglobal.com,"044 6740 2999 , 972 887 3159"
57,PY,Valiant Systems,"Porur, Chennai",info@valiantsystems.com,"96000 44464, 91 99401 81721"
58,PY,Surya Informatics,"Ashok Nagar, Chennai",careers@suryainformatics.com,044 4203 3355
59,PY,Logic Soft,"Gopalapuram, Chennai",shrayasr@logicsoft.co.in,044 4208 9492 / 93

In [5]:
df.sample(4)

,Role,Company,Location,Mail ID,Contact No
46,DS&DA,Standard chartered Global Business Services,"Sholinganallur, Chennai","Head.Service@sc.com , AskHR@sc.com",044 2821 9188
8,Analy,Ramco systems,"Tharamani, Chennai",contact@ramco.com,"91 44 2235 4510 , 91 44 6653 4000"
0,Analy,Sutherland Global Services,"Balaji Nagar, Chennai",pa.narasimhan@sutherlandglobal.com,"044 4391 7884 , +91-44-7101-7886"
55,PY,Appadore,"Cochin, Kerala",info@appadore.com,NaN

In [6]:
df.shape

(60, 5)

In [7]:
f=df.sample(4)["Location"]

In [8]:
ML = 0
DS = 0
for i in df["Role"]:
    if i == "DS&DA":
        DS+=1
    elif i == "DA&ML":
        ML+=1
print(ML)
print(DS)

4
6

In [9]:
arr=np.array(f)

In [10]:
arr

array(['Cochin, Kerala', 'Sholinganallur, Chennai',
       'Balaji Nagar, Chennai', 'Pune'], dtype=object)

In [11]:
"C:\Users\ykmi1\OneDrive\Desktop\Iris.csv"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1368525154.py, line 1)

In [ ]:
df=pd.read_csv(r"C:\Users\ykmi1\OneDrive\Desktop\Iris.csv")

In [ ]:
df.sample(10)

In [ ]:
df['Location'].value_counts()

In [ ]:
df['SepalWidthCm'].max()

In [ ]:
df.describe()

In [ ]:
df.describe(include='all')

slicing in pandas 
lock=labled based
ilock="i" stds for index based

In [ ]:
df

In [ ]:
df.loc[77:,'Species']

In [ ]:
df.loc[77:,['Species','PetalLengthCm']]

In [ ]:
df.loc[77:,['Species','SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm','Species']]

In [ ]:
df.iloc[77:,2:4]

In [ ]:
df

In [ ]:
df.rename(columns={'Company':'MNC'},inplace = True)

In [ ]:
df.isnull().sum()

In [ ]:
df['Role'].count()

In [ ]:
ee=df.dropna()

In [ ]:
ee.shape

In [ ]:
df.shape

In [21]:
mm=df[(df['Role']=='Analy') & (df['Location']=='Tharamani, Chennai')]

In [27]:
mm

,Role,Company,Location,Mail ID,Contact No
5,Analy,Latent view Analytics,"Tharamani, Chennai",info@latentview.com,044 4344 1700
6,Analy,Thought works,"Tharamani, Chennai",au@thoughtworks.com,"61 73129 4506 , 04449018400"
7,Analy,Hewlett Packard Enterprise,"Tharamani, Chennai",support@hp.com,"044 4458 6111 , 1800 419 8080"
8,Analy,Ramco systems,"Tharamani, Chennai",contact@ramco.com,"91 44 2235 4510 , 91 44 6653 4000"

In [23]:
mm.columns

Index(['Role', 'Company', 'Location', 'Mail ID', 'Contact No'], dtype='object')

In [35]:
for i in mm.columns:
    rr=mm[i].values
    print(i)
    print(rr)
    print("----------------------------------------------------------------------------")
    #print(i)

Role
['Analy' 'Analy' 'Analy' 'Analy']
----------------------------------------------------------------------------
Company
['Latent view Analytics' 'Thought works' 'Hewlett Packard Enterprise'
 'Ramco systems']
----------------------------------------------------------------------------
Location
['Tharamani, Chennai' 'Tharamani, Chennai' 'Tharamani, Chennai'
 'Tharamani, Chennai']
----------------------------------------------------------------------------
Mail ID
['info@latentview.com' 'au@thoughtworks.com' 'support@hp.com'
 'contact@ramco.com']
----------------------------------------------------------------------------
Contact No
['044 4344 1700' '61 73129 4506 , 04449018400'
 '044 4458 6111 , 1800 419 8080' '91 44 2235 4510 , 91 44 6653 4000']
----------------------------------------------------------------------------

In [ ]:
pp1=pd.DataFrame(data=pp,columns=['Self_Employed','LoanAmount','Education'])

In [ ]:
ab['LoanAmount'].plot.hist()

In [ ]:
ab.fillna(0).count()

In [ ]:
pp1=pd.DataFrame(data=pp,columns=['Self_Employed','LoanAmount','Education'])

In [ ]:
d2=pd.DataFrame(data=cc,columns=['Loan_ID','ApplicantIncome'])

In [1]:
import pandas as pd

In [23]:
df=pd.read_csv("salary.csv")

In [24]:
df

   id name  salary place
0   1  Saa   20000    uk
1   2   bb   50000    ik
2   3   ff   60000    tk
3   4   ee   70000    yk
4   5   ww   80000    dk

In [25]:
df2=pd.read_csv("infoempl.csv")

In [26]:
df2

   id  degree  passedout               wrk
0   1  b.tech       2012        data analy
1   2  b.engg       2013  software trainee
2   3  b.tech       2015           deveops
3   4  b.engg       2018            scikit

In [27]:
dfnew=pd.merge(df,df2)

In [20]:
dfnew

   id name  salary place  degree  passedout               wrk
0   1  Saa   20000    uk  b.tech       2012        data analy
1   2   bb   50000    ik  b.engg       2013  software trainee
2   3   ff   60000    tk  b.tech       2015           deveops
3   4   ee   70000    yk  b.engg       2018            scikit